.input {
  border: 1px solid #2973ff;
  padding: 20px;
  font-size: 30px;
  line-height: 30px;
  border-radius: 20px;
}

.file_rename {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
