.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  margin-top: 20px;
}

.contact_item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-columns: max-content 1fr;

  gap: 20px;

  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 10px;

  .user_avatar {
    width: 80px;
    height: 80px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .user_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    .user_name {
      font-size: 30px;
      line-height: 30px;
      font-weight: 800;
      color: #000000;
    }
    .job {
      font-size: 25px;
      line-height: 25px;
      color: #636363;
    }
  }
  .contact_item_detail {
    display: flex;
    font-size: 25px;
    color: #919191;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
