.group_page_body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  font-family: "DingTalk";
  font-size: 40px;
  padding-left: 20px;
}
