.file_item {
  box-sizing: border-box;
  padding-top: 20px;
  background-color: white;

  &.file_item_list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 100%;

    .file_item_icon_container {
      background-color: #f0f0f0f0;
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
    }

    .file_item_detail {
      height: 100px;
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 150px max-content;
      grid-template-rows: 1fr 1fr;
      padding-bottom: 20px;
      border-bottom: 1px solid #e1e1e1;

      .file_item_name {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: flex-start;
        width: 40vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .file_item_date {
        grid-column: 1/2;
        grid-row: 2/3;
        color: #888;
        font-size: 25px;
        align-self: flex-end;
        white-space: nowrap;
      }

      .file_item_childnum {
        grid-column: 2/3;
        grid-row: 2/3;
        color: #888;
        align-self: flex-end;
      }
      .file_item_more {
        grid-column: 3/4;
        grid-row: 1/3;
        align-self: center;
        justify-self: center;
      }
    }
  }

  &.file_item_grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22vw;
    height: 22vw;
    background-color: #f0f0f0f0;

    .file_item_detail {
      background-color: #dddddd;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px 10px;
      box-sizing: border-box;
      .file_item_name {
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
