.flow {
  display: grid;
  grid-template-columns: 30px 1fr;
  box-sizing: border-box;
  padding-block: 10px;

  .star {
    justify-self: center;
    color: red;
  }

  .flow_bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 32px;
    position: relative;

    .title {
      font-size: 32px;
    }
  }
}
