.meeting {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 30px;
  box-sizing: border-box;
  align-items: center;

  .title {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-bottom: 1px solid #bbbbbb;
    width: 100%;
    box-sizing: border-box;
  }

  .form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0 20px;
    font-size: 32px;
    align-items: center;
    color: #656565;
    align-items: flex-start;

    .label {
      grid-column: 1/2;
    }
    .value {
      grid-column: 2/3;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
