.search_bar {
  flex: 1;
  padding-block: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.search_icon {
  width: 30px;
  height: 30px;
}

.search_text {
  font-size: 25px;
  color: #aaaaaa;
}
